<div class="row profileContainer">
    <div class="col-md-12" style="margin-bottom:50px;">
        <div ng-switch="guildCtrl.isEditable()">
            <h1 class="pull-left" ng-switch-when="true"><a editable-text="guildCtrl.guild.globalHandle" onaftersave="guildCtrl.tryUpdateName($data)">{{guildCtrl.guild.name}}</a></h1>

            <h1 class="pull-left" ng-switch-default>{{guildCtrl.guild.name}}</h1>

            <button ladda="guildCtrl.guildLoading" data-style="expand-right" ng-if="guildCtrl.account.isLoggedIn()" style="margin-top:20px;" class="btn btn-lg pull-right" ng-click="guildCtrl.toggleGuildMembership()" ng-class="guildCtrl.onGuild() ? 'btn-warning' : 'btn-info'">{{guildCtrl.onGuild() ? 'Leave' : 'Join'}}</button>
        </div>
    </div>
    <div ng-if="guildCtrl.isAdmin()" class="col-md-12">
        <div class="well">
            <h3>Admin Panel</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h4>Global Admin Options (Not Implemented)</h4>
                        <div class="alert alert-danger">
                            <h4>Dangaaa Zoooone</h4>
                            <button class="btn btn-danger">Delete guild</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h3>Statistics</h3>
                    <ul>
                        <li>Joined: {{guildCtrl.guild.createdDate.format("M[/]D[/]YYYY")}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <h4>Users</h4>
                    <accordion close-other="guildCtrl.openedguildsAccordion">
                        <accordion-group heading="{{guild.User.name}} {{guild.User.isCaptain ? '- Captain' : ''}}" ng-repeat="guild in guildCtrl.guild.members">
                        </accordion-group>
                    </accordion>
                    {{guildCtrl.guild.guildPlayers.length == 0 ? 'None to show!' : ''}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <h4>Games Played</h4>
                    <accordion close-other="guildCtrl.openedGameProfileAccordion">
                        <accordion-group heading="{{game.name}}" ng-repeat="game in guildCtrl.guild.games">
                            {{game.name}}
                            <button ng-click="guildCtrl.tryRemoveGame(game)" class="btn btn-sm btn-danger pull-right">Remove</button>
                        </accordion-group>
                    </accordion>
                    {{guildCtrl.guilds.games.length == 0 ? 'No Games Added!': ''}}
                    <morphing-button ng-if="guildCtrl.isEditable()" title="Add New Game">
                        <form class="form morphingButtonForm" name="addGameForm" ng-submit="guildCtrl.tryAddGame()"
                              novalidate>
                            <button ladda="gameProfileLoading" data-style="expand-right" type="submit" class="btn btn-primary pull-right">Add</button>
                        </form>
                    </morphing-button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="guildCtrl.isEventProfile()" class="col-md-6">
        <div class="well">
            <h3>At This Event</h3>
            <h4>Tournaments</h4>
            <accordion>
                <accordion-group heading="{{tour.game}} - {{tour.tournamentType}}" ng-repeat="tour in guildCtrl.guild.tournaments">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Stats</strong>
                            <ul>
                                <li>{{tour.teams}} Teams</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <strong>Info</strong>
                            <ul>
                                <a ui-sref="eventSkeleton.tournament.roster({tournamentId:tour.id})">View Tournament</a>
                            </ul>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
<!--    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h4>Events Participated In</h4>
                    <accordion close-other="guildCtrl.openedEventAccordion">
                        <accordion-group heading="{{tEvent.name}}" ng-repeat="tEvent in guildCtrl.guild.events">
                            Got yer Event, {{tEvent.name}}, with the Id {{ptevent.id}} right here.
                        </accordion-group>
                    </accordion>
                    {{guildCtrl.guild.events.length == 0 ? 'None to report!' :''}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <h4>Tournaments Participated In</h4>
                    <accordion close-other="guildCtrl.openedTournamentAccordion">
                        <accordion-group heading="{{tour.name}}" ng-repeat="tour in guildCtrl.guild.tournaments">
                            Got yer Tournament, {{tour.name}}, with the Id {{tour.id}} right here.
                        </accordion-group>
                    </accordion>
                    {{guildCtrl.guild.tournaments == undefined ? 'None to report!' : ''}} &lt;!&ndash;TODO make this .length == 0 once tournaments are included &ndash;&gt;
                </div>
            </div>
        </div>
    </div>-->
</div>
