<div ng-cloak ng-show="cncCtrl.account.isLoggedIn()" class="buttonWrapper">
<morphing-button title="Create A New Guild">
    <form class="form morphingButtonForm" name="createGuildForm" ng-submit="guildsCtrl.tryCreateGuild(createGuildForm)"
          novalidate>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group" show-errors>
                    <h4>Choose A Guild Name</h4>
                    <input type="text" name="name" placeholder="Guild Name" class="input-small form-control"
                           ng-model="guildsCtrl.createGuildData.name" required/>

                    <p class="help-block" ng-show="createGuildForm.name.$error.required">A name is
                        required.</p>
                </div>
<!--                <div class="form-group">
                    <h4>Select Privacy</h4>
                    <div class="btn-group">
                        <label class="btn btn-info" ng-model="guildsCtrl.createGuildData.joinType" btn-radio="'Public'">Public</label>
                        <label class="btn btn-info" ng-model="guildsCtrl.createGuildData.joinType" btn-radio="'Invite'">Invite Only</label>
                    </div>
                </div>-->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h4>Select Games</h4>
                <guild-games gamearray="guildsCtrl.createGuildData.games"></guild-games>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</morphing-button>
</div>
<div class="row well">
    <div class="col-md-offset-2 col-md-4 well tagWell text-center">
                <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x blueIcon"></i>
        </span>
        <h3 class="text-center">Filter By Name</h3>
        <tags-input ng-model="guildsCtrl.guildNameTags">
        </tags-input>
    </div>
    <div class="col-md-4 well tagWell text-center">
                <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x blueBackground"></i>
            <i class="fa fa-gamepad fa-inverse fa-stack-1x"></i>
        </span>
        <h3 class="text-center">Filter By Games</h3>
        <tags-input ng-model="guildsCtrl.guildGameTags">
            <auto-complete source="guildsCtrl.loadGames($query)"></auto-complete>
        </tags-input>
    </div>
</div>
        <h1 style="margin-top:50px; margin-bottom:50px;" class="text-center" ng-if="guildsCtrl.isEvent">Teams and Guilds Participating in Tournaments</h1>
        <infinite-scroller-animated>
            <ul class="grid effect-6" masonry="{transitionDuration: 0}" id="grid" load-images="false" column-width=".grid-sizer" infinite-scroll="guildsCtrl.getMoreGuilds()"
                infinite-scroll-container="'#st-content'" infinite-scroll-disabled="guildsCtrl.busy">
                <div class="grid-sizer"></div>
                <li class="masonry-brick outline-outward eventCard component tournamentComponent" ng-repeat="guild in guildsCtrl.guildCollection | filter: guildsCtrl.filterGuilds track by $index" on-last-repeat>
                       <!-- <div ng-switch="guildsCtrl.isEvent" style="position:relative; height:100%; width:100%;">-->
                            <div ng-if="!guildsCtrl.isEvent" class="contentClick"
                                 ng-click="!guildsCtrl.isEvent ? guildsCtrl.state.go('globalSkeleton.guild',{guildId:guild.id}) : guildsCtrl.state.go('eventSkeleton.guild',{eventId:guildsCtrl.stateParams.eventId, guildId:guild.id})">
                                <div class="tileHeader">
                                    {{guild.name}}
                                </div>
                                <div class="tileContentContainer">
                                    <div class="tileContent">
                                        <h4><i class="fa fa-group"></i> {{guildsCtrl.isEvent ? guild.teamPlayers.length : guild.members.length}} Members</h4>
                                        <h4><i class="fa fa-user"></i> Led by {{guild.captain}}</h4>
                                        <h4>Established {{guild.createdDate.format("M[/]D[/]YYYY")}}</h4>
                                    </div>
                                    <div class="tileContentBottom">
                                        <h4>{{guild.events.length}} Events Particiapted In</h4>
                                        <h4><i class="fa fa-trophy"></i> {{guild.tournaments.length}} Tournaments Participated In</h4>
                                        <h4><i class="fa fa-gamepad"></i> {{guild.games.length}} Games Played</h4>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="guildsCtrl.isEvent" class="contentClick"
                                 ng-click="guild.guildOnly ? guildsCtrl.state.go('eventSkeleton.guild',{eventId:guildsCtrl.stateParams.eventId, guildId:guild.guildId}) : guildsCtrl.state.go('eventSkeleton.tournament.roster',{eventId:guildsCtrl.stateParams.eventId, tournamentId: guild.tournament.id})">
                                <div class="tileHeader">
                                    {{guild.guildOnly ? '[GUILD]' : ''}} {{guild.name}}
                                </div>
                                <div class="tileContentContainer">
                                    <div class="tileContent">
                                        <h4><i class="fa fa-group"></i>{{guild.teamPlayers.length}} Players</h4>
                                        <h4 ng-if="guild.captain != undefined"><i class="fa fa-user"></i>Led by {{guild.captain}}</h4>
                                        <h4><i class="fa fa-gamepad"></i> {{guild.tournament.game.name}}</h4>
                                        <h4><i class="fa fa-trophy"></i> {{guild.tournament.tournamentType.name}}</h4>
                                        <h4 ng-if="guild.tournament.name != undefined"> {{guild.tournament.name}}</h4>
                                        <div class="tileContentBottom">
                                            <h4>{{guild.teamPlayers.length > guild.tournament.teamMinSize && (guild.teamPlayers.length < guild.tournament.teamMaxSize || guild.tournament.teamMaxSize == 0) ? 'Ready to play!' : 'Needs Players!'}}</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                       <!-- </div>-->
                </li>
            </ul>
        </infinite-scroller-animated>
