<div class="row profileContainer">
    <div class="col-md-12" style="margin-bottom:50px;">
        <div ng-switch="profileCtrl.isEditable()">
            <h1 ng-switch-when="true"><a editable-text="profileCtrl.user.globalHandle" onaftersave="profileCtrl.tryUpdateHandle($data)">{{profileCtrl.user.globalHandle}}</a></h1>

            <h1 ng-switch-default>{{profileCtrl.user.globalHandle}}</h1>
        </div>
    </div>
    <div ng-if="eventCtrl.isModerator()" class="col-md-12">
        <div class="well">
            <h3>Admin Panel</h3>

            <div class="row">
                <div ng-if="eventCtrl.isAdmin()" ng-class="profileCtrl.isEventProfile() ? 'col-md-6' : 'col-md-12'">
                    <div class="well bordered">
                        <h4>Global Admin Options (Not Implemented)</h4>
                        <button class="btn btn-warning">Reset Password</button>
                        <div class="alert alert-danger">
                            <h4>Dangaaa Zoooone</h4>
                            <button class="btn btn-danger" ng-click="profileCtrl.deleteUser()">Delete Account</button>
                        </div>
                    </div>
                </div>
                <div ng-if="profileCtrl.isEventProfile()" ng-class="{'col-md-6':eventCtrl.isModerator(),'col-md-12':eventCtrl.isAdmin()}">
                    <div class="well bordered">
                        <h4>Event {{eventCtrl.isAdmin() ? 'Admin' : 'Moderator'}} Options</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button ladda="profileCtrl.paidLoading" data-style="expand-right" ng-click="profileCtrl.tryChangePaid()" ng-class="profileCtrl.user.events[profileCtrl.eventIndex].hasPaid ? 'btn-success' : 'btn-danger'" class="btn">{{profileCtrl.user.events[profileCtrl.eventIndex].hasPaid ? 'Has Paid' : 'Has Not Paid'}}</button>
                                <button ladda="profileCtrl.presentLoading" data-style="expand-right" ng-click="profileCtrl.tryChangePresent()" ng-class="profileCtrl.user.events[profileCtrl.eventIndex].isPresent ? 'btn-success' : 'btn-danger'" class="btn">{{profileCtrl.user.events[profileCtrl.eventIndex].isPresent ? 'Is Present' : 'Is Not Present'}}</button>
                            </div>
                            <!--profileCtrl.user.events[profileCtrl.eventIndex].isAdmin-->
                            <div ng-if="eventCtrl.isAdmin()" class="col-md-6 col-sm-6 col-xs-6">
                                <button ladda="profileCtrl.modLoading" data-style="expand-right" ng-click="profileCtrl.tryChangeModerator()" ng-class="profileCtrl.user.events[profileCtrl.eventIndex].isModerator ? 'btn-warning' : 'btn-info'" class="btn">{{profileCtrl.user.events[profileCtrl.eventIndex].isModerator ? 'Remove Mod' : 'Make Mod'}}</button>
                                <button ladda="profileCtrl.eventAdminLoading" data-style="expand-right" ng-click="profileCtrl.tryChangeEventAdmin()" ng-class="profileCtrl.user.events[profileCtrl.eventIndex].isAdmin ? 'btn-warning' : 'btn-info'" class="btn">{{profileCtrl.user.events[profileCtrl.eventIndex].isAdmin ? 'Remove Admin' : 'Make Admin'}}</button>
                            </div>
                        </div>
<!--                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <h4>Dangaaa Zoooone</h4>
                                    <button ng-click="profileCtrl.tryRemoveUser()" class="btn btn-danger">Remove User From Event</button>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="well bordered">
                    <h3>Statistics</h3>
                    <ul>
                        <li>Joined: {{profileCtrl.user.createdDate.format("MMMM Do YYYY")}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well bordered">
                    <h3>Guilds</h3>
                    <accordion close-other="profileCtrl.openedTeamsAccordion">
                        <accordion-group heading="{{guild.Guild.name}}" ng-repeat="guild in profileCtrl.user.guilds">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Stats</strong>
                                    <ul>
                                        <li><strong>Members:</strong> {{guild.Guild.members}}</li>
                                        <li><strong>Games:</strong> {{guild.Guild.games}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <strong>Info</strong>
                                    <ul>
                                        <li><strong>Established</strong> {{profileCtrl.parseTime(guild.Guild.createdDate).format("MMMM Do YYYY")}}</li>
                                    </ul>
                                </div>
                            </div>
                            <a ui-sref="eventSkeleton.guild({guildId:guild.Guild.id})" class="pull-right">View</a>
                        </accordion-group>
                    </accordion>
                    {{profileCtrl.user.guilds.length == 0 ? 'None to report!' : ''}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="well bordered">
                    <h3>Your Game Profiles</h3>
                    <accordion close-other="profileCtrl.openedGameProfileAccordion">
                        <accordion-group heading="{{profile.platform}}" ng-repeat="profile in profileCtrl.user.gameProfiles">
                            <a ng-if="profileCtrl.isEditable()" editable-text="profile.identifier" onaftersave="profileCtrl.tryUpdateGameProfile(profile)">{{profile.identifier}}</a>
                            {{!profileCtrl.isEditable() ? profile.identifier : ''}}
                             <button ng-click="profileCtrl.tryRemoveGameProfile(profile)" class="btn btn-sm btn-danger pull-right">Remove</button>
                        </accordion-group>
                    </accordion>
                    {{profileCtrl.user.gameProfiles.length == 0 ? 'No Profiles Added!': ''}}
                </div>
                    <morphing-button ng-if="profileCtrl.isEditable() && profileCtrl.user.gameProfiles.length < 3" title="Add New Profile">
                        <form class="form morphingButtonForm" name="createProfileForm" ng-submit="profileCtrl.tryCreateGameProfile()"
                              novalidate>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <h4>Choose A Platform</h4>
                                        <div class="btn-group">
                                            <!--TODO make these disappear if user already has one -->
                                            <label class="btn btn-info" ng-show="!profileCtrl.hasGameProfile('Steam')" ng-model="profileCtrl.newPlatformData.platform" btn-radio="'Steam'">Steam</label>
                                            <label class="btn btn-info" ng-show="!profileCtrl.hasGameProfile('Battle.net')" ng-model="profileCtrl.newPlatformData.platform" btn-radio="'Battle.net'">Battle.net</label>
                                            <label class="btn btn-info" ng-show="!profileCtrl.hasGameProfile('Riot')" ng-model="profileCtrl.newPlatformData.platform" btn-radio="'Riot'">Riot</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h4>Specify your handle</h4>
                                    <div class="form-group" show-errors>
                                        <input type="text" class="form-control" ng-model="profileCtrl.newPlatformData.identifier" name="platformHandle" placeholder="Handle" required/>
                                        <p class="help-block" ng-show="createProfileForm.platformHandle.$error.required">Required</p>
                                    </div>
                                </div>
                            </div>
                            <button ladda="gameProfileLoading" data-style="expand-right" type="submit" class="btn btn-primary pull-right">Add</button>
                        </form>
                    </morphing-button>

            </div>
        </div>
    </div>
    <div ng-if="profileCtrl.isEventProfile()" class="col-md-6">
        <div class="well bordered">
            <h3>At This Event</h3>
            <ul>
                <li>Account Type: {{profileCtrl.user.accountType == 'A' ? 'Admin' : profileCtrl.user.accountType == 'M' ? 'Moderator' : 'Normal'}}</li>
            </ul>
            <h4>Tournaments</h4>
            <accordion>
                <accordion-group heading="{{tour.game}} - {{tour.tournamentType}}" ng-repeat="tour in profileCtrl.user.tournaments | filter:{eventId: that.event.id}">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Stats</strong>
                            <ul>
                                <!--<li>Participating with <strong>Team Honkey</strong></li>-->
                                <!--<li><strong>Starts</strong> in two days at 11:45am</li>-->
                                <li ng-if="tour.teamPlay"><strong>{{tour.teams}}</strong> teams are participating.</li>
                                <li ng-if="!tour.teamPlay"><strong>{{tour.users}}</strong> users are participating.</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <strong>Info</strong>
                            <ul>
                                <li ng-if="tour.name"><strong>Tournament Name:</strong> {{tour.name}}</li>
                                <li><strong>Game:</strong> {{tour.game}}</li>
                                <li><strong>Type:</strong> {{tour.tournamentType}}</li>
                                <!--<li><strong>Roster Status:</strong> Open!</li>-->
                            </ul>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="well bordered">
                    <h3>Events Participated In</h3>
                    <accordion close-other="profileCtrl.openedEventAccordion">
                        <accordion-group heading="{{pEvent.event.name}}" ng-repeat="pEvent in profileCtrl.user.events">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Stats</strong>
                                    <ul>
                                        <li>{{pEvent.tournaments}} Tournament</li>
<!--                                        <li>{{pEvent.guilds}} Teams</li>
                                        <li>{{pEvent.users}} Users</li>-->
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <strong>Info</strong>
                                    <ul>
<!--                                        <li>{{pEvent.createdDate.format("MMMM Do YYYY")}}</li>
                                        <li>{{pEvent.location}}</li>-->
                                        <li><strong>Account Type:</strong> {{pEvent.isAdmin ? 'Admin' : pEvent.isModerator ? 'Moderator' : 'Normal'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    {{profileCtrl.user.events.length == 0 ? 'None to report!' :''}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="well bordered">
                    <h3>Tournaments Participated In</h3>
                    <accordion close-other="profileCtrl.openedTournamentAccordion">
                        <accordion-group heading="{{tour.game}} - {{tour.tournamentType}}" ng-repeat="tour in profileCtrl.user.tournaments">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Stats</strong>
                                    <ul>
                                        <!--<li>Participating with <strong>Team Honkey</strong></li>-->
                                        <!--<li><strong>Starts</strong> in two days at 11:45am</li>-->
                                        <li ng-if="tour.teamPlay"><strong>{{tour.teams}}</strong> teams are participating.</li>
                                        <li ng-if="!tour.teamPlay"><strong>{{tour.users}}</strong> users are participating.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <strong>Info</strong>
                                    <ul>
                                        <li ng-if="tour.name"><strong>Tournament Name:</strong> {{tour.name}}</li>
                                        <li><strong>Game:</strong> {{tour.game}}</li>
                                        <li><strong>Type:</strong> {{tour.tournamentType}}</li>
                                        <!--<li><strong>Roster Status:</strong> Open!</li>-->
                                    </ul>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    {{profileCtrl.user.tournaments == undefined ? 'None to report!' : ''}} <!--TODO make this .length == 0 once tournaments are included -->
                </div>
            </div>
        </div>
    </div>
</div>
