<div class="row">
    <div class="col-md-6">
        <h3>Moderator Management</h3>
        <div class="well">
            <ul>
                <li ng-repeat="user in adminCtrl.tour.users | filter:filterAdminUsers">
                    {{user.name}} <span class="pull-right"><button class="btn btn-danger btn-sm" ng-click="adminCtrl.removeAdmin(user)">Remove</button></span>
                </li>
                    <input placeholder="Add Admin" class="form-control" style="margin-top:20px;" type="text" ng-model="adminCtrl.selectedUser" typeahead="user as user.globalHandle for user in adminCtrl.potentialUsers | filter:nonAdminUsers | filter:{globalHandle: $viewValue}" typeahead-on-select="adminCtrl.addAdmin($item)">
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-lg btn-danger" ng-click="adminCtrl.tryDelete()">Delete Tournament</button>
    </div>
</div>
