<div ng-if="tourCtrl.isAdmin()" class="col-md-12 well">
    <p>Edit the rules for your tournament here. After finishing your edits make sure you save!</p>
    <ul>
        <li>Top-level items act as the header for a rule section</li>
        <li>All items below the top level act as a nested list of your rules</li>
    </ul>
</div>
    <div ng-if="tourCtrl.isAdmin()" class="col-md-12" style="margin-bottom:50px;">
        <div ui-tree="rulesCtrl.treeOptions" data-drag-delay="200" class="angular-ui-tree">
            <ol ui-tree-nodes="" ng-model="tour.details.rules" class="angular-ui-tree-nodes">
                <li ng-repeat="node in tour.details.rules track by $index" ui-tree-node ng-include="'views/shared/nodes.html'" class="angular-ui-tree-node"></li>
            </ol>
            <ol class="angular-ui-tree-nodes">
                <li class="angular-ui-tree-node">
                    <div class="group-title tree-node tree-node-content angular-ui-tree-handle">
                        <form class="form-inline" name="newGroupForm" role="form" ng-submit="rulesCtrl.addGroup(newGroupForm)" novalidate>
                            <div class="form-group" show-errors>
                                <label class="sr-only" for="groupName">Section Name</label>
                                <input type="text" class="form-control" ng-model="rulesCtrl.newGroupName" name="groupName" id="groupName" placeholder="Section Name" required>
                            </div>
                            <button type="submit" class="btn btn-info btn-sm">Add Group</button>
                        </form>
                    </div>
                </li>
            </ol>
        </div>
    </div>
<button ladda="rulesCtrl.rulesLoading" data-style="expand-right" ng-show="rulesCtrl.showSave" class="btn btn-info btn-lg fixedSaveButton" ng-click="rulesCtrl.saveRules()">Save</button>

<div ng-repeat="header in tour.details.rules track by $index" class="col-md-12 well">
    <h2>{{header.title}}</h2>
    <ul>
        <li ng-repeat="node in header.nodes" ng-include="'views/shared/node.html'"></li>
    </ul>
</div>
