<div class="row">
    <div ng-if="tourCtrl.isAdmin()" class="col-md-6" style="margin-bottom:50px;">
        <div class="col-md-12 well">
            <p>Edit servers for your tournament here. After finishing your edits make sure you save!</p>
            <ul>
                <li>Top-level items act as the header for a rule section</li>
                <li>All items below the top level act as a list of servers</li>
            </ul>
        </div>
        <div class="col-md-12">
            <div ui-tree="ssCtrl.treeOptions" data-drag-delay="200" class="angular-ui-tree">
                <ol ui-tree-nodes="" ng-model="tour.details.servers" class="angular-ui-tree-nodes">
                    <li ng-repeat="node in tour.details.servers track by $index" ui-tree-node ng-include="'views/shared/nodes.html'" class="angular-ui-tree-node"></li>
                </ol>
                <ol class="angular-ui-tree-nodes">
                    <li class="angular-ui-tree-node">
                        <div class="group-title tree-node tree-node-content angular-ui-tree-handle">
                            <form class="form-inline" name="newGroupForm" role="form" ng-submit="ssCtrl.addGroup(newGroupForm)" novalidate>
                                <div class="form-group" show-errors>
                                    <label class="sr-only" for="groupName">Section Name</label>
                                    <input type="text" class="form-control" ng-model="ssCtrl.newGroupName" name="groupName" id="groupName" placeholder="Section Name" required>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Add Section</button>
                            </form>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div ng-if="tourCtrl.isAdmin()" class="col-md-6" style="margin-bottom:50px;">
        <div class="col-md-12 well">
            <p>Edit streams for your tournament here. After finishing your edits make sure you save!</p>
        </div>
        <div class="col-md-12">
            <div ui-tree="ssCtrl.treeOptions" data-drag-delay="200" class="angular-ui-tree">
                <ol ui-tree-nodes="" ng-model="tour.details.streams" class="angular-ui-tree-nodes">
                    <li ng-repeat="node in tour.details.streams track by $index" ui-tree-node class="angular-ui-tree-node">
                        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group-title':this.$nodeScope.$parentNodeScope == null}">
                            <div style="display:inline-block;" data-nodrag>
                                <div>Stream Name: <a editable-text="$modelValue.title">{{$modelValue.title || 'Stream Title'}}</a></div>
                                <div>Stream Link: <a editable-text="$modelValue.link">{{$modelValue.link || 'http://streamexample.com'}}</a></div>
                            </div>
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><i class="fa fa-close"></i></a>
                        </div>
                    </li>
                </ol>
                <ol class="angular-ui-tree-nodes">
                    <li class="angular-ui-tree-node">
                        <div class="group-title tree-node tree-node-content angular-ui-tree-handle">
                            <form class="form-inline" name="newGroupForm" role="form" ng-submit="ssCtrl.addStream(newGroupForm)" novalidate>
                                <div class="form-group" show-errors>
                                    <label class="sr-only" for="groupName">Stream Name</label>
                                    <input type="text" class="form-control" ng-model="ssCtrl.newGroupName" name="groupName" id="groupName" placeholder="Stream Name" required>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Add Stream</button>
                            </form>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button ladda="ssCtrl.loading" data-style="expand-right" ng-show="ssCtrl.showSave" class="btn btn-info btn-lg fixedSaveButton"
        ng-click="ssCtrl.save()">Save
</button>
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Servers</h2>
        <div ng-repeat="header in tour.details.servers track by $index" class="col-md-12 well">
            <h3>{{header.title}}</h3>
            <ul>
                <li ng-repeat="node in header.nodes" ng-include="'views/shared/node.html'"></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Streams</h2>
        <div ng-repeat="item in tour.details.streams track by $index" class="col-md-6 well">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </div>
    </div>

</div>

