<div class="row" style="margin-bottom:40px;">
    <div class="col-md-8">
        <h1>{{tourCtrl.tour.game.name}} <br/>
            <a ng-if="tourCtrl.isAdmin()"
               editable-text="tourCtrl.tour.tournamentType"
               e-typeahead="ttype as ttype.name for ttype in tourCtrl.tour.game.tournamentTypes | filter:{name: $viewValue} | filter: tourCtrl.filterType"
                onshow="tourCtrl.ttypeDisclaimer = true;"
                onhide="tourCtrl.ttypeDisclaimer = false;"
                onaftersave="tourCtrl.updateTourType($data)">{{tourCtrl.tour.tournamentType.name}}</a> <span style="font-size:14px;" ng-show="tourCtrl.ttypeDisclaimer"><strong>Note:</strong> If your tournament already has teams or users you can only change to a tournament type with the same game play type.</span>
            {{!tourCtrl.isAdmin() ? tourCtrl.tour.tournamentType.name : ''}}
            <span ng-if="tourCtrl.tour.details.name != undefined"><br/> <a ng-if="tourCtrl.isAdmin()" editable-text="tourCtrl.tour.details.name" onaftersave="tourCtrl.updateName($data)">{{tourCtrl.tour.details.name}}</a> <span ng-if="!tourCtrl.isAdmin()">{{tourCtrl.tour.details.name}}</span></span>
        </h1>
    </div>
    <div class="col-md-4">
        <div time-editor time-end="tourCtrl.tour.details.timeEnd" timestart="tourCtrl.tour.details.timeStart" iseditable="tourCtrl.isAdmin()"
             starteditable="false" update-property="tourCtrl.updateTime()" horizontal="true"></div>
        <span ng-if="!tourCtrl.isAdmin()">Location:
            <h4 ng-repeat="loc in tourCtrl.tour.details.location">{{loc}}</h4><span ng-if="tourCtrl.tour.details.location == undefined">TBD</span>
        </span>
        <h4 ng-if="!tourCtrl.isAdmin()">
            {{tourCtrl.tour.details.locationsub || ''}}
        </h4>
        <span ng-if="tourCtrl.isAdmin()">
            <h4>Location: <!--<a editable-text="tourCtrl.tour.details.location" onaftersave="tourCtrl.updateLocation($data)">{{tourCtrl.tour.details.location || "TBD"}}</a>--></h4>
            <tags-input ng-model="tourCtrl.tour.details.location"
                        on-tag-added="tourCtrl.showLocationSave = true"
                        on-tag-removed="tourCtrl.showLocationSave = true"
                        enable-editing-last-tag="true"
                        replace-spaces-with-dashes="false" class="tags-input-element">

            </tags-input> <button class="btn btn-info" ng-show="tourCtrl.showLocationSave" ng-click="tourCtrl.updateLocation()">Save</button>
            <h4>Location Details: <a editable-text="tourCtrl.tour.details.locationsub" onaftersave="tourCtrl.updateLocation()">{{tourCtrl.tour.details.locationsub || "TBD"}}</a></h4>
        </span>
    </div>
</div>
<div style="height:58px; width:100%">
    <div class="tabs tabs-style-underline">
        <nav>
            <ul>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.roster">Roster</a></li>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.rules">Rules</a></li>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.prizes">Prizes</a></li>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.streamsandservers">Streams and Servers</a></li>
                <li ng-if="tourCtrl.isAdmin()" ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.admin">Admin</a></li>
            </ul>
        </nav>
    </div>
</div>
<div ui-view style="margin-top:50px;">
</div>
