<div class="headerWrapper">
    <div class="cbp-af-header cbp-hsmenu-wrapper" ng-class="{'globalHeader': eventCtrl == undefined }" id="cbp-hsmenu-wrapper">
        <div class="cbp-af-inner">
            <h1 style="display:none;"><a ui-sref="eventSkeleton.event({eventId: eventCtrl.event.id})">{{eventCtrl.event.name}}</a></h1>
            <div class="gfBranding">
                <a ui-sref="eventSkeleton.event({eventId: eventCtrl.event.id})"><img src="../../images/gfbranding.svg"></a>

            </div>
            <nav>
                <ul class="cbp-hsmenu">
                    <!-- Event Header Links -->
                    <li ng-if="eventCtrl != undefined"><a ui-sref="eventSkeleton.schedule" ui-sref-active="active" class="topLink">Schedule</a></li>
                    <li ng-show="eventCtrl != undefined"><a ui-sref="eventSkeleton.tournaments" ui-sref-active="active" class="topLink">Tournaments <span class="badge">{{eventCtrl.event.tournaments}}</span></a>
                    <li ng-show="eventCtrl != undefined" class="menuLink"><a id="gamesHeaderLink" class="topLink" style="z-index:9000;">Games <span class="badge">{{eventCtrl.event.games.length}}</span></a>
                        <ul ng-if="eventCtrl.event.games != undefined" class="cbp-hssubmenu cbp-hssub-rows" style="z-index:10000;">
                            <li ng-click="headerCtrl.goToTournaments(game.name)" ng-repeat="game in eventCtrl.event.games">
                                <a  ><img ng-src="{{headerCtrl.games.getImageUrl(game)}}"/><span>{{game.name}}<br/>{{game.count}} tournaments</span></a>
                            </li>
                        </ul></li>
                    <li ng-show="eventCtrl != undefined"><a ui-sref="eventSkeleton.users" ui-sref-active="active" class="topLink">Users <span class="badge">{{eventCtrl.event.users}}</span></a></li>
                    <li ng-show="eventCtrl != undefined"><a ui-sref="eventSkeleton.guilds" ui-sref-active="active" class="topLink">Teams and Guilds<span class="badge">{{eventCtrl.event.teams}}</span></a></li>
                    <li ng-show="eventCtrl != undefined"><a ui-sref="eventSkeleton.about" ui-sref-active="active" class="topLink">About</a></li>
                    <li ng-show="eventCtrl != undefined"><a ui-sref="eventSkeleton.faq" ui-sref-active="active" class="topLink">FAQ</a></li>
                    <li ng-show="cncCtrl.account.isLoggedIn() && eventCtrl != undefined && cncCtrl.account.isRegisteredForEvent(eventCtrl.event.id) && !cncCtrl.account.hasPaid(eventCtrl.event.id)" ui-sref-active="active"><a ui-sref="eventSkeleton.pay" class="topLink">Pay</a></li>
                    <li ng-show="eventCtrl != undefined && (eventCtrl.isAdmin() || (cncCtrl.account.isAdmin() && cncCtrl.account.adminEnabled()))"><a ui-sref="eventSkeleton.settings" ui-sref-active="active" class="topLink">Settings</a></li>
<!--                    <li ng-if="cncCtrl.account.isLoggedIn()" ng-show="eventCtrl != undefined && !eventCtrl.isAdmin()" ng-switch="cncCtrl.account.isRegisteredForEvent(eventCtrl.event.id)">
                        <a class="topLink" ng-switch-when="false" ng-click="eventCtrl.tryJoin()">Join</a>
                        <a class="topLink" ng-switch-when="true" ng-click="eventCtrl.tryLeave()">Leave</a>
                    </li>--> <!-- Don't need until global platform is implemented -->
                    <!-- End Event Header Links -->
                    <!-- Global Header Links -->
<!--                    <li ng-if="globalCtrl != undefined"><a ui-sref="globalSkeleton.events"  ui-sref-active="active" class="topLink">Events</a></li>
                    <li ng-if="globalCtrl != undefined"><a ui-sref="globalSkeleton.tournaments"  class="topLink">Tournaments</a></li>
                    <li ng-if="globalCtrl != undefined"><a ui-sref="globalSkeleton.friends"  class="topLink">Friends</a></li>
                    <li ng-show="eventCtrl == undefined"><a ui-sref="globalSkeleton.users"  class="topLink">Users</a></li>
                    <li ng-show="eventCtrl == undefined"><a ui-sref="globalSkeleton.guilds" ui-sref-active="active" class="topLink">Guilds</a></li>-->
                    <!-- End Global Header Links -->
                    <li ng-hide="cncCtrl.account.isLoggedIn()" ng-click="openRegister()"><a class="topLink">Register</a></li>
                    <li ng-hide="cncCtrl.account.isLoggedIn()"><a ng-click="openLogin()" class="topLink">Login</a></li>
                    <li ng-show="cncCtrl.account.isLoggedIn()" ng-click="cncCtrl.account.logout()"><a class="topLink">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
