<div class="row menuItemContent">
    <div ng-show="!showForgotForm" class="col-sm-12">
        <form class="form" name="loginForm" ng-submit="tryLogin()" novalidate>
            <div class="form-group" show-errors>
                <input type="email" name="email" placeholder="Email Address" class="input-small form-control"
                       ng-model="loginformData.email" required />
                <p class="help-block" ng-show="loginForm.email.$error.required">Email is required.</p>
                <p class="help-block" ng-show="loginForm.email.$error.email">Not a valid email address.</p>
            </div>
            <div class="form-group" show-errors>
                <input type="password" name="password" placeholder="Password" class="input-small form-control"
                       ng-model="loginformData.password" required />
                <p class="help-block" ng-show="loginForm.password.$error.required">Password is required.</p>
            </div>
            <button ladda="loginLoading" data-style="expand-right" type="submit" class="btn btn-lg btn-primary">Go</button>
        </form>
    </div>
    <div ng-show="showForgotForm" class="col-sm-12" style="margin-top:-2em;">
    <form class="form" name="forgotPasswordForm" ng-submit="tryForgotPassword(forgotPasswordForm)" novalidate>
        <p>Enter the email address you used to sign up to receive a password reset link.</p>
        <div class="form-group" show-errors>
            <input type="email" name="email" placeholder="Email Address" class="input-small form-control" ng-model="forgotPasswordEmail" required/>
        </div>
        <button ladda="forgotLoading" data-style="expand-right" type="submit" class="btn btn-lg btn-primary">Go</button>
    </form>
        </div>
    <button class="btn btn-link" style="color:white; margin-top:15px; margin-bottom:15px;" ng-click="showForgotForm = !showForgotForm">{{showForgotForm ? 'Back' : 'Forgot Password?'}}</button>
</div>
