<div class="morph-button morph-button-inflow morph-button-inflow-1">
    <button type="button"><h3 class="morph-clone whiteFont" style="line-height: 70px;font-size: 1.3em; letter-spacing: 2px;"><i class="fa fa-plus fa-lg" style="margin-right:20px;"></i>{{title}}</h3></button>
    <div class="morph-content">
        <div>
            <div class="content-style-form content-style-form-4">
                <h2 class="morph-clone">{{title}}</h2>
                <div ng-transclude></div>
            </div>
        </div>
    </div>
</div>
