<div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group-title':this.$nodeScope.$parentNodeScope == null}">
    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><i class="fa" ng-class="{'fa-chevron-up': collapsed, 'fa-chevron-down': !collapsed}"></i></a>
    <div style="display:inline-table" data-nodrag>
        <div>Prize Name: <a editable-text="$modelValue.title">{{$modelValue.title || 'Prize Example'}}</a></div>
        <div>Prize Link: <a editable-text="$modelValue.link">{{$modelValue.link || 'http://example.com'}}</a></div>
    </div>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><i class="fa fa-close"></i></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><i class="fa fa-plus"></i></a>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'views/shared/nodesWithLinks.html'">
    </li>
</ol>
