<div class="st-menu st-effect-2">
    <div id="menu-2">
        <a> <!--ui-sref="globalSkeleton.portal"-->
            <div class="siteSwitcher text-center">
                <object type="image/svg+xml" data="/images/gflogo.svg" class="logo">
                    <img src="../../images/gflogo.png" class="logo"> <!-- fallback! -->
                </object>

            </div>
        </a>
        <ul>
            <li ng-if="sidebar.event() != undefined && sidebar.account.isLoggedIn()" class="menuTopLink">
                <a ui-sref="eventSkeleton.profile({eventId: sidebar.event().id, userId: sidebar.account.user().id})" ng-click="toggleMenu()"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li ng-if="sidebar.event() == undefined && sidebar.account.isLoggedIn()" class="menuTopLink">
                <a ui-sref="globalSkeleton.profile({userId: sidebar.account.user().id})"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="menuTopLink"><a ng-show="sidebar.account.isLoggedIn()"
                                       ng-click="sidebar.toggleEvents = !sidebar.toggleEvents"><i class="fa fa-gamepad"></i> My Events</a>
                <ul ng-if="sidebar.account.isLoggedIn() && sidebar.account.user().events.length > 0"
                    ng-show="sidebar.toggleEvents" class="subsection myEvents fa-ul">
                    <li ng-repeat="event in sidebar.account.user().events">
                        <a ui-sref="eventSkeleton.event({eventId:event.event.id})" ng-click="sidebar.toggleEvents = false; toggleMenu();"><i class="fa fa-li fa-arrow-right"></i> {{event.event.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="menuTopLink"><a ng-show="sidebar.account.isLoggedIn()" ng-click="sidebar.toggleTournaments = !sidebar.toggleTournaments"><i class="fa fa-sitemap"></i> My Tournaments</a>
                <ul ng-if="sidebar.account.isLoggedIn() && sidebar.account.user().tournaments.length > 0"
                    ng-show="sidebar.toggleTournaments" class="subsection myEvents fa-ul">
                    <li ng-repeat="tour in sidebar.account.user().tournaments">
                        <a ui-sref="eventSkeleton.tournament.roster({tournamentId:tour.id})" ng-click="sidebar.toggleTournaments = false; toggleMenu();"><i class="fa fa-li fa-arrow-right"></i>{{tour.game}} - {{tour.tournamentType}}: {{tour.name}}</a>
                    </li>
                </ul></li>
<!--            <li class="menuTopLink"><a ng-show="sidebar.account.isLoggedIn()"><i class="fa fa-group"></i> Friends</a>-->
            </li>
            <li ui-sref-active="active" class="menuTopLink"><a ui-sref="eventSkeleton.account" ng-click="toggleMenu()"><i class="fa fa-gears"></i> Account Settings</a></li>
            <li ui-sref-active="active" class="menuTopLink"><a ui-sref="eventSkeleton.aboutPlatform({eventId: sidebar.event().id})"><i class="fa fa-question"></i> About The Platform</a></li>
            <li class="menuTopLink"><a ng-show="sidebar.account.isLoggedIn()"
                                       ng-click="sidebar.account.logout()">Logout</a></li>
            <li class="menuTopLink"><a ng-click="sidebar.loginVisible = !sidebar.loginVisible"
                                       ng-hide="sidebar.account.isLoggedIn()">
                <i class="fa fa-arrow-right"></i> Login</a>

                <div ng-show="sidebar.loginVisible && !sidebar.account.isLoggedIn()" class="subsection">
                    <login></login>
                </div>
            </li>
            <li class="menuTopLink"><a ng-hide="sidebar.account.isLoggedIn()"
                                       ng-click="sidebar.registerVisible = !sidebar.registerVisible"><i
                    class="fa fa-pencil-square-o"></i> Register</a>

                <div ng-show="sidebar.registerVisible && !sidebar.account.isLoggedIn()" class="subsection register">
                    <register></register>
                </div>
            </li>
            <li class="menuTopLink" ng-show="sidebar.account.isLoggedIn() && sidebar.adminToggleVisible()"><a ui-sref="eventSkeleton.onSiteRegister" ng-click="toggleMenu()">On-Site Registration</a></li>
        </ul>
        <div ng-cloak ng-show="sidebar.adminToggleVisible()" class="pull-right" style="margin-top:30px; padding:20px;">
            <h4>Admin Toggle</h4> <input type="checkbox" ng-model="sidebar.admin">
            <!--<toggle-switch model="sidebar.admin"></toggle-switch>-->
        </div>
    </div>
</div>
