<div class="timeEditor" ng-class="{halloEditable: iseditable && !multimode, inEditMode: timeEditor.editable && !multimode}">
    <div ng-switch="timeEditor.editable">
       <div ng-switch-default ng-click="timeEditor.tryEdit()">
           <div ng-switch="horizontal">
               <div ng-switch-when="true">
                   <h4>Starts {{timestart ? timestart.calendar() : "TBD"}}</h4>
                   <h4>Ends {{timeEnd ? timeEnd.calendar() : "TBD"}}</h4>
               </div>
               <div ng-switch-default>
                   <h4>Starts</h4>
                   <span ng-if="timestart">
                       {{timestart.calendar()}}<br/>
                   </span>
                   <address ng-if="!timestart">
                       TBD
                   </address>
                   <h4>Ends</h4>
                   <address ng-if="timeEnd">
                       {{timeEnd.calendar()}}<br/>
                   </address>
                   <address ng-if="!timeEnd">
                       TBD
                   </address>
               </div>
           </div>
        </div>
        <div ng-switch-when="true">
            <h4>Starts</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input placeholder="TBD" type="text" datepicker-popup="{{timeEditor.format}}"
                               show-button-bar="true" class="form-control"
                               max="$parent.timeEnd"
                               ng-model="$parent.timestart"
                               is-open="timeEditor.startOpened" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="timeEditor.openStartTime($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="col-md-6 timePicker">
                    <timepicker ng-model="$parent.timestart"></timepicker>
                </div>
            </div>
            <h4>Ends</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input placeholder="TBD" type="text" datepicker-popup="{{timeEditor.format}}"
                               show-button-bar="true" class="form-control"
                               min="$parent.timestart"
                               ng-model="$parent.timeEnd"
                               is-open="timeEditor.stopOpened" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="timeEditor.openStopTime($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="col-md-6 timePicker">
                    <timepicker ng-model="$parent.timeEnd"></timepicker>
                </div>
            </div>
            <button ng-if="!multimode" class="btn btn-info" ng-click="timeEditor.updateTimeData();">Save</button>
        </div>
    </div>
</div>
