<div class="row well">
    <div class="col-md-offset-2 col-md-4 well tagWell text-center">
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x blueIcon"></i>
        </span>
        <h3 class="text-center">Filter By Name</h3>
        <tags-input ng-model="usersCtrl.userNameTags">
        </tags-input>
    </div>
    <div class="col-md-4 well tagWell text-center">
                <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fa fa-desktop fa-stack-1x blueIcon"></i>
        </span>
        <h3 class="text-center">Filter By Platform</h3>
        <tags-input ng-model="usersCtrl.userPlatformTags">
            <auto-complete source="usersCtrl.loadPlatforms($query)"></auto-complete>
        </tags-input>
    </div>
</div>
<infinite-scroller-animated>
    <ul class="grid effect-6" masonry="{transitionDuration: 0}" id="grid" load-images="false" column-width=".grid-sizer" infinite-scroll="usersCtrl.getMoreUsers()"
        infinite-scroll-container="'#st-content'" infinite-scroll-immediate-check="false" infinite-scroll-disabled="usersCtrl.busy">
        <div class="grid-sizer"></div>
        <li class="masonry-brick outline-outward eventCard component tournamentComponent" ng-repeat="user in usersCtrl.filtered = (usersCtrl.userCollection | filter: usersCtrl.filterUsers) track by $index" on-last-repeat>
                <div ng-if="usersCtrl.isEvent && eventCtrl.isModerator()" class="actionContainer">
                    <button ladda="user.presentLoading" data-style="expand-right" class="btn btn-sm" ng-click="usersCtrl.tryChangePresent(user)"
                            ng-class="user.isPresent ? 'btn-success': 'btn-danger'">{{user.isPresent ? 'Is Present' : 'Not Present'}}
                    </button>
                    <!--{{usersCtrl.isAdmin() ? '' : user.isPresent ? 'Yes' : 'No'}}-->
                    <button ladda="user.paidLoading" data-style="expand-right" class="btn btn-sm" ng-click="usersCtrl.tryChangePaid(user)"
                            ng-class="user.hasPaid ? 'btn-success' : 'btn-danger'">{{user.hasPaid ? 'Has Paid' : 'Not Paid'}}
                    </button>
                </div>
                <div class="contentClick"
                     ng-click="usersCtrl.isGlobal ? usersCtrl.state.go('globalSkeleton.profile',{userId:user.id}) : usersCtrl.state.go('eventSkeleton.profile',{eventId:usersCtrl.stateParams.eventId, userId:user.id})">
                    <div class="tileHeader">{{user.globalHandle}}</div>
                    <div class="tileContentContainer">
                        <div class="tileContent">
                            <h4>{{user.tournaments}} Tournaments</h4>
                            <div class="tileContentBottom">
                                <h4>{{user.guilds.length}} Guilds</h4>
                                <h4>{{user.platforms.length}} platforms</h4>
                            </div>
                        </div>
                    </div>
                </div>
        </li>
    </ul>
</infinite-scroller-animated>
