<div class="row">
    <div ng-if="eventCtrl.isAdmin()" class="col-md-12" style="margin-bottom:50px;">
        <div class="col-md-12 well">
            <p>Edit the FAQ for your event here. After finishing your edits make sure you save!</p>
            <ul>
                <li>Top-level items act as the header for a section</li>
                <li>All items below the top level act as a list of Q&As</li>
            </ul>
        </div>
        <div class="col-md-12">
            <div ui-tree data-drag-delay="200" class="angular-ui-tree">
                <ol ui-tree-nodes="" ng-model="event.details.faq" class="angular-ui-tree-nodes">
                    <li ng-repeat="node in event.details.faq track by $index" ui-tree-node class="angular-ui-tree-node">
                    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'group-title':this.$nodeScope.$parentNodeScope == null}">
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><i class="fa" ng-class="{'fa-chevron-up': collapsed, 'fa-chevron-down': !collapsed}"></i></a>
                        <div style="display:inline-table" data-nodrag>
                            <div>Section Title: <a editable-text="$modelValue.title">{{$modelValue.title || 'No title'}}</a></div>
                        </div>
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><i class="fa fa-close"></i></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><i class="fa fa-plus"></i></a>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'views/shared/nodesWithText.html'">
                        </li>
                    </ol>
                    </li>
                </ol>
                <ol class="angular-ui-tree-nodes">
                    <li class="angular-ui-tree-node">
                        <div class="group-title tree-node tree-node-content angular-ui-tree-handle">
                            <form class="form-inline" name="newGroupForm" role="form" ng-submit="faqCtrl.addGroup(newGroupForm)" novalidate>
                                <div class="form-group" show-errors>
                                    <label class="sr-only" for="groupName">Section Name</label>
                                    <input type="text" class="form-control" ng-model="faqCtrl.newGroupName" name="groupName" id="groupName" placeholder="Section Name" required>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Add Section</button>
                            </form>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button ladda="faqCtrl.faqLoading" data-style="expand-right" ng-show="faqCtrl.showSave" class="btn btn-info btn-lg fixedSaveButton"
        ng-click="faqCtrl.saveFaq()">Save
</button>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">FAQ</h1>
        <div ng-repeat="header in event.details.faq track by $index" class="col-md-12 well">
            <h3>{{header.title}}</h3>
            <accordion>
                <accordion-group heading="{{node.title}}" ng-repeat="node in header.nodes">
                    <div ng-bind-html="faqCtrl.sce.trustAsHtml(node.content)"></div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>

