<div class="col-md-12">
<form stripe-form="handleStripe" name="paymentForm" novalidate>
    <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="well">
                <legend>Billing Information</legend>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="Address Line 1" ng-model="addressLine1" name="addressLine1" required />
                    <span class="help-block" ng-show="paymentForm.addressLine1.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="Address Line 2" ng-model="addressLine2" name="addressLine2" />
                    <span class="help-block" ng-show="paymentForm.addressLine2.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="City" ng-model="addressCity" name="addressCity" required />
                    <span class="help-block" ng-show="paymentForm.addressCity.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="State" ng-model="addressState" name="addressState" required />
                    <span class="help-block" ng-show="paymentForm.addressState.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="Zipcode" ng-model="addressZip"  name="addressZip" required />
                    <span class="help-block" ng-show="paymentForm.addressZip.$error.required">Required.</span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="well">
                <legend>Card Information</legend>
                <div class="form-group" show-errors>
                    <input type="text" ng-model="name" placeholder="Name On Card" class="form-control" name="cardHolder" required>
                    <span class="help-block" ng-show="paymentForm.cardHolder.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="Card Number" ng-model="number" payments-validate="card"
                           payments-format="card" payments-type-model="type" name="cardNum"
                           ng-class="paymentForm.cardNum.$card.type" required/>
                    <span class="help-block" ng-show="paymentForm.cardNum.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="Expiry" ng-model="expiry" payments-validate="expiry"
                           payments-format="expiry" name="expiryInput" required/>
                    <span class="help-block" ng-show="paymentForm.expiryInput.$error.required">Required.</span>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="CVC" ng-model="cvc" payments-validate="cvc" payments-format="cvc"
                           payments-type-model="type" name="cvcInput" required/>
                    <span class="help-block" ng-show="paymentForm.cvcInput.$error.required">Required.</span>
                </div>
            </div>
            <button type="submit" ladda="paymentLoading" data-style="expand-right" class="btn btn-primary btn-large pull-right">Pay Now</button>
        </div>
    </div>
</form>
</div>
