<div style="min-width:500px; margin-left:auto; margin-right:auto">
    <p><strong>Gamefest The Platform</strong> is lovingly coded in its entirety by <a href="http://www.matthewfoxx.com">Matt Duncan</a>.<br/>
    Support and special thanks to Henry Mei and Joey Benamy for doing everything else not related to typing on keyboards.</p>
    <p>GTP is still in <strong>alpha</strong> and will be for some time. It is continually being improved and changed. Look for a full release of a
        <strong>beta</strong> version in December 2014 or early 2015.</p>
    <p>If you would like to keep up with updates or are interested in contributing please <a href="mailto:tickets@gtgamefest.uservoice.com">email us</a>!</p>
</div>
