<div ng-cloak ng-show="cncCtrl.account.isLoggedIn()" class="buttonWrapper eventButton">
    <morphing-button title="Create A New Event">
        <form class="form morphingButtonForm" name="createEventForm" ng-submit="eventsCtrl.tryCreateEvent()"
              novalidate>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" show-errors>
                        <h4>Choose An Event Name</h4>
                        <input type="text" name="name" placeholder="Event Name" class="input-small form-control"
                               ng-model="eventsCtrl.createEventData.name" required/>

                        <p class="help-block" ng-show="createEventForm.name.$error.required">A name is
                            required.</p>
                    </div>
                    <h4>Choose Visibility</h4>

                    <div class="btn-group">
                        <label class="btn btn-info" ng-model="eventsCtrl.createEventData.joinType" btn-radio="'Public'">Public</label>
                        <label class="btn btn-info" ng-model="eventsCtrl.createEventData.joinType" btn-radio="'Invite'">Invite Only</label>
                        <label class="btn btn-info" ng-model="eventsCtrl.createEventData.joinType" btn-radio="'Hidden'">Hidden</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h4>Choose a Start Date</h4>
                    <p class="input-group">
                        <input placeholder="TBD" type="text" datepicker-popup="{{eventsCtrl.format}}"
                               show-button-bar="true"
                               datepicker-append-to-body="true" class="form-control"
                               max="eventsCtrl.createEventData.details.timeEnd"
                               ng-model="eventsCtrl.createEventData.details.timeStart"
                               is-open="eventsCtrl.startOpened" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="eventsCtrl.openStartTime($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                    <h4>Choose an End Date</h4>
                    <p class="input-group">
                        <input placeholder="TBD" type="text" class="form-control"
                               datepicker-popup="{{eventsCtrl.format}}" show-button-bar="true"
                               datepicker-append-to-body="true"
                               min="eventsCtrl.createEventData.details.timeStart"
                               ng-model="eventsCtrl.createEventData.details.timeEnd"
                               is-open="eventsCtrl.stopOpened"
                               ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="eventsCtrl.openStopTime($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </morphing-button>
</div>
        <div class="row well">
            <div class="col-md-offset-2 col-md-4 well">
                <h4>Filter By Name</h4>
                <tags-input ng-model="eventsCtrl.eventNameTags" display-property="name">
                    <auto-complete source="eventsCtrl.loadEvents($query)"></auto-complete>
                </tags-input>
            </div>
            <div class="col-md-4 well">
                <h4>Filter By City</h4>
                <tags-input ng-model="eventsCtrl.eventCityTags">
                    <auto-complete source="eventsCtrl.loadEventsCity($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
        <infinite-scroller-animated>
<ul class="grid effect-6" masonry="{transitionDuration: 0}" id="grid" load-images="false" column-width=".grid-sizer" infinite-scroll="eventsCtrl.getMoreEvents()" infinite-scroll-container="'#st-content'" infinite-scroll-disabled="eventsCtrl.busy">
    <div class="grid-sizer"></div>
    <li ng-click="eventsCtrl.state.go('eventSkeleton.event',{eventId:event.id})" class="masonry-brick outline-outward eventCard gridElement component" ng-repeat="event in eventsCtrl.eventsCollection | filter: filterEvents track by $index" on-last-repeat>
        <div style="position:relative;width:100%; height:100%;">
        <h3>{{event.name}}</h3>
        <h4>{{event.details.timeStart.calendar()}}</h4>
        <h4>{{event.joinType}} Event</h4>
        <h4>{{event.details.city}}</h4>
        <div style="position:absolute; bottom:0">
            <h4>{{event.users}} users attending</h4>
            <h4>{{event.tournaments.length}} tournaments hosted</h4>
        </div>
</div>
    </li>
</ul>
        </infinite-scroller-animated>
<!--
<table st-table="eventsCollection" class="table table-striped table-hover smartTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Place</th>
        <th>Time</th>
        <th># of Tournaments</th>
        <th># of Users</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in eventsCtrl.eventsCollection" class="linkMask" ng-click="eventsCtrl.tableGoTo($event, row.id)">
        <td>{{row.name}}</td>
        <td>{{row.joinType}}</td>
        <td>{{row.details.city || "TBD"}}</td>
        <td>{{row.details.timeStart || "TBD"}}</td>
        <td>{{row.tournaments.length}}</td>
        <td>{{row.users}}</td>
    </tr>
    </tbody>
</table>-->
